/* define color for main haplogroups*/
.default-colorL0.chart-bar { -fx-bar-fill: #ffce1b; } /* L0 */
.default-colorL1.chart-bar { -fx-bar-fill: #ff9030; }/* L1 */
.default-colorL2.chart-bar { -fx-bar-fill: #ff4b29; }/* L2 */
.default-colorL3.chart-bar { -fx-bar-fill: red; }/* L3 */
.default-colorL4.chart-bar { -fx-bar-fill: #960e0c; }/* L4 */
.default-colorM1.chart-bar { -fx-bar-fill: #1a2ae8; }/* M1 */
.default-colorN.chart-bar { -fx-bar-fill: #2ce99b; }/* N */
.default-colorI.chart-bar { -fx-bar-fill: #32ca29; }/* I */
.default-colorW.chart-bar { -fx-bar-fill: #009a32; }/* W */
.default-colorX.chart-bar { -fx-bar-fill: #185933; }/* X */
.default-colorR.chart-bar { -fx-bar-fill: #512603; }/* R */
.default-colorR0.chart-bar { -fx-bar-fill: #814f11; }/* R0 */
.default-colorU.chart-bar { -fx-bar-fill: #dd82d1; }/* U */
.default-colorK.chart-bar { -fx-bar-fill: #740492; }/* K */
.default-colorJ.chart-bar { -fx-bar-fill: #93e0df; }/* J */
.default-colorT.chart-bar { -fx-bar-fill: #178e92; }/* T */
.default-colorT1.chart-bar { -fx-bar-fill: #026e75; }/* T1 */
.default-colorT2.chart-bar { -fx-bar-fill: #065a83; }/* T2 */
.default-colorH.chart-bar { -fx-bar-fill: darkgrey; }/* H */
.default-colorHV.chart-bar { -fx-bar-fill: grey; }/* HV */
.default-colorOthers.chart-bar { -fx-bar-fill: rgba(0, 0, 0, 0.98); }/* others */
