/* define color for main haplogroups*/
.default-color0.chart-bar { -fx-bar-fill: yellow; }
.default-color1.chart-bar { -fx-bar-fill: orange; }
.default-color2.chart-bar { -fx-bar-fill: #ad4b13; }
.default-color3.chart-bar { -fx-bar-fill: red; }
.default-color4.chart-bar { -fx-bar-fill: blue; }
.default-color5.chart-bar { -fx-bar-fill: #0be85c; }
.default-color6.chart-bar { -fx-bar-fill: green; }
.default-color7.chart-bar { -fx-bar-fill: #0e5b2a; }
.default-color8.chart-bar { -fx-bar-fill: #004218; }
.default-color9.chart-bar { -fx-bar-fill: #684427; }
.default-color10.chart-bar { -fx-bar-fill: #512603; }
.default-color11.chart-bar { -fx-bar-fill: #c292ce; }
.default-color12.chart-bar { -fx-bar-fill: #9140a5; }
.default-color13.chart-bar { -fx-bar-fill: #8104a0; }
.default-color14.chart-bar { -fx-bar-fill: #82ccce; }
.default-color15.chart-bar { -fx-bar-fill: #19888c; }
.default-color16.chart-bar { -fx-bar-fill: #02eff7; }
.default-color17.chart-bar { -fx-bar-fill: #02aaf2; }
.default-color18.chart-bar { -fx-bar-fill: #f202a6; }
.default-color19.chart-bar { -fx-bar-fill: #c66ba9; }
.default-color20.chart-bar { -fx-bar-fill: #9e9d9c; }
.default-color21.chart-bar { -fx-bar-fill: #636362; }
.default-color22.chart-bar { -fx-bar-fill: #161616; }
.default-color23.chart-bar { -fx-bar-fill: #161616; }
.default-color24.chart-bar { -fx-bar-fill: #161616; }
.default-color25.chart-bar { -fx-bar-fill: #161616; }
.default-color26.chart-bar { -fx-bar-fill: #161616; }
.default-color27.chart-bar { -fx-bar-fill: #161616; }
.default-color28.chart-bar { -fx-bar-fill: #161616; }
.default-color29.chart-bar { -fx-bar-fill: #161616; }